*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    
    
}
.container{
    width: 25rem;
    height: 34rem;
    
    box-shadow: 5px 10px 18px #888888;
    border-radius: 1.25rem;
    margin-top: 10rem;
    padding: 1.5rem;
   

   
}
/*------------------------------Flag and language---------------------------------*/
.flag{
    display: flex;
    justify-content: flex-end;
    
    
}

.flag img{
    width: 1.875rem;
    height: 1.875rem;
    margin-right:.8rem ;
    margin-top: .5rem;
}

.flag:last-child{
    margin-right: 1.5rem;
}

/*------------------------------------------Christmas image----------------------------------*/

.christmasImg{
    display: flex;
    justify-content: center;
    /* outline: 1px solid black; */
}

.christmasImg img{
    margin-top:.8rem ;
    margin-bottom:;
    width: 12.5rem;
    height: 12.5rem;
}

/*-------------------------------------------Central text-------------------------------------*/

.text{
   /*  outline: 1px solid black; */
    padding: 1rem;

}
.text p{
    text-align: justify;
    font-size: .9rem;
}

/*----------------------------------------------typeArea---------------------------------------*/

.typeArea{
    display: flex;
    justify-content: center;
}

.typeArea input{
    width:8rem ;
    height: 1.9rem;
    border: none;
    background-color: #88888810;
    color: black;
    font-weight: 600;
}


/*------------------------------------------------button--------------------------------------*/

.buttonArea{
    display: flex;
    justify-content: center;
    /* outline: 1px solid black; */
    margin-top: 1rem;
}
button{
    margin: .5rem;
    width: 8rem;
    height: 2.5rem;
    padding: .5rem;
    font-size: 1rem;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color:rgba(0, 128, 0, 0.473);
    border-radius: 1.25rem;
    border: none;
}

button:hover{
    border-color: 1px rgba(0, 128, 0, 0.473);
    outline: 1px solid;
    background-color: whitesmoke;
    color: black;
}

.thanks{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* outline: 1px solid black; */
    margin-top: 2.8rem;
    font-size: .8rem;
}

.thanks a{
    text-decoration: none;
    color: black;
}
